.explanation {
  @include right-col(30%);
  h1 {
    @extend %heading;
    font-size: $font-size-h2;
    @media(min-width: $tablet-size) {
      font-size: $font-size-h3;
    }
  }
}

.home-content {
  @include col(70%);
}

p.date-line {
  font-size: .75em;
  color: gray;
}
