.welcome, .recent-posts {
  @include row();
}

.recent-posts .posts {
  @include col(100%);
}

.recent-posts, .home-nav {
  margin-top: 30px;
}

.home-nav, .explanation {
  @include col(50%);
}

.post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil($font-size-base * 1.125);
  color: inherit;
  @extend .h3;
}

.home-nav {
  @include nav-pills();
}

.nav-pills > li > a {
  color: $brand-primary;
}

.nav-pills {

}

p.date-line {
  font-size: .75em;
  color: gray;
}

