.l-header {
  background-color: rgba($brand-primary, 0.80);
  overflow: auto;
  color: $body-bg;
  text-align: center;
  padding: 20px;
  @media(min-width: $tablet-size) {
    margin: 0;
    box-sizing: border-box;
    @include flexbox();
    @include flex-align-items(center);
    width: 30%;
    position: fixed;
    left: 0;
    height: 100%;
    text-align: left;
    padding-left: 35px;
  }
}

.l-footer {
  margin-top: 30px;
  .center {
    text-align: center;
    margin-top: 10px;
    color: $link-color;
  }
  a {
    @include constant-link($link-color);
  }
}

.l-main {
  @include main();
}

.l-content {
  @include col(70%);
  @media(min-width: $tablet-size) {
    float: right;
  }
  padding-top: 30px;
}

.row {
  @include row();
}

.lead {
  @include lead();
}
