html {
  @extend %base;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @extend %base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

img {
  vertical-align: middle;
  max-width: 100%
}

%base {
  height: 100%;
  margin: 0;
}

.main-footer {
  margin-top: 30px;
  .center {
    text-align: center;
    margin-top: 10px;
    color: $link-color;
  }
  a {
    @include constant-link($link-color);
  }
}

.main {
  @extend %main;
}

.main-content {
  @include col(75%, $small-computer-size);
}

.content-wrap {
  @extend %row;
}

.lead {
  margin: 0 0 10px;
  @extend %lead;
}

.verbose-nav {
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 10px 0;
    }
  }
}

