* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

img {
  vertical-align: middle;
  max-width: 100%
}

html, body {
  height: 100%;
  margin: 0;
}

div.wrapper {
  min-height: 100%;
  margin-bottom: -39px;
}

.main-header {
  margin-bottom: 20px;
  @media(min-width: $tablet-size) {
    margin-bottom: 30px;
  }
}

.main-header, .main-footer {
  @include container();
  background-color: $brand-primary;
}

.main-footer, .push {
  width: 100%;
  height: 39px;
}

.push {
  margin-top: 30px;
}

.main-header a, .main-footer a, .main-header a:focus, .main-footer a:focus {
  text-decoration: none;
  color: $body-bg;
}

.main {
  @include main();
}

.main-nav {
  @include nav-pills();
  @include col(25%, $small-computer-size);
  @media(min-width: $small-computer-size) {
    float: right;
  }
  ul {
    text-align: center;
    @media (min-width: $small-computer-size) {
      text-align: left;
    }
    li {
      display: inline-block;
      @media (min-width: $small-computer-size) {
        display: block;
      }
      a {
        @media(max-width: $tablet-size - 1) {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

.main-content {
  @include col(75%, $small-computer-size);
}

.content-wrap {
  @include row();
}

.lead {
  margin: 0 0 10px;
  @include lead();
}
.small-size {
  @media(min-width: $tablet-size) {
    display: none;
  }
}
.large-size {
  @media(max-width: $tablet-size) {
    display: none;
  }
}
