@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin col($percent, $min-width: $tablet-size) {
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  @media(min-width: $min-width) {
    float: left;
    width: $percent;
  }
}

@mixin row() {
  @include clearfix();
  margin-left: $gutter-width * -1;
  margin-right: $gutter-width * -1;
}

@mixin lead() {
  font-size: floor($font-size-base * 1.15);
  margin-bottom: $line-height-computed;
  font-weight: 300;
  line-height: 1.4;
  @media (min-width: $tablet-size) {
    font-size: $font-size-base * 1.5;
  }
}

@mixin container() {
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  @include clearfix();
}

@mixin main() {
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
  @media (min-width: $tablet-size) {
    width: 750px;
  }
  @media (min-width: $small-computer-size) {
    width: 970px;
  }
  @media (min-width: $large-computer-size) {
    width: 1170px;
  }
}

@mixin nav-pills() {
  margin-bottom: 20px;
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      a {
        color: $brand-primary;
        padding: 10px 15px;
        border-radius: 4px;
        display: block;
        text-decoration: none;
        @include pill-hover();
      }
      &.active {
        a, a:hover, a:focus {
          color: #fff;
          background-color: $brand-primary;
        }
      }
    }
  }
}

@mixin pill-hover() {
  &:hover, &:focus {
    text-decoration: none;
    background-color: $gray-lighter;
  }
}
