---
---

// Most of this css is taken from bootstrap getbootstrap.com
@import "_variables";
@import "_mixins";
@import "_typography";
@import "_layout";
@import "_home";
@import "_resume";
@import "_blog";

.lead {
  margin: 0 0 10px;
  @include lead();
}

.recent-posts, .home-nav {
  margin-top: 30px;
}

img {
  max-width: 100%;
}
