body {
  background-color: gray;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  font-family: sans-serif;
  color: blue;
}
li {
  color: aqua;
  font-family: serif;
}
em {
  font-size: 1.1em;
}
strong {
  font-size: 1.2em;
}
p {
  font-family: monospace;
}
.important {
  background-color: black;
  color: red;
}
#header {
  font-size: 2em;
}