<section class="l-header">
  <div class="header-wrapper">
    <header>
      <h1 class="header-title"><a href="/">Peter Debelak</a></h1>
      <p class="header-subtitle">Thoughts about the internet, on the internet</p>
    </header>
    <nav class="header-nav">
      <ul>
        <li class="{% if page.active == "blog" %}is-active {% endif %}dropdown">
          <a href="/">Blog</a>
        </li>
        <li class="{% if page.active == "about" %}is-active{% endif %}">
          <a href="/about/">About</a>
        </li>
        <li class="{% if page.active == "resume" %}is-active{% endif %}">
          <a href="/resume/">Resume</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
