<div class="content-wrap">
  <header class="title">
    <h1><a href="/">Peter Debelak</a></h1>
    <p class="subtitle">Thoughts about the internet, on the internet</p>
    <nav class="nav">
      <ul>
        <li class="{% if page.active == "blog" %}active{% endif %}"><a id="blog/" href="/">Blog</a></li>
        <li class="{% if page.active == "about" %}active{% endif %}"><a id="about/" href="/about/">About</a></li>
        <li class="{% if page.active == "resume" %}active{% endif %}"><a id="resume/" href="/resume/">Resume</a></li>
      </ul>
    </nav>
  </header>
</div>
