<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="blog-title" itemprop="mainEntityOfPage"><a href="{{ include.post.url }}"><span itemprop="headline">{{ include.post.title }}</span></a><br><small><a href="{{ include.post.url }}#disqus_thread">comments</a></small></h1>
    <p class="blog-date">Last updated {{ include.post.date | date_to_long_string }}</p>
  </header>
  <link href="{{ include.post.url }}" itemprop="url">
  <time itemprop="dateModified" datetime="{{ include.post.date }}"></time>
  <time itemprop="datePublished" datetime="{{ include.post.date }}"></time>
  <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
    <meta itemprop="url" content="{{ site.url }}{{ include.post.image }}">
    <meta itemprop="width" content="80">
    <meta itemprop="height" content="80">
  </div>
  <meta itemprop="author" itemtype="http://schema.org/Person" content="Peter Debelak">
  <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Peter Debelak">
    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
      <meta itemprop="url" content="{{ site.url }}{{ include.post.image }}">
      <meta itemprop="width" content="80">
      <meta itemprop="height" content="80">
    </div>
  </div>
  <div class="blog-content" itemprop="articleBody">
    {{ include.content }}
  </div>
  <ul class="blog-tags">
    <li>Tags:</li>
    {% for tag in include.post.tags %}
      <li><a href="/tag/{{tag | slugify}}/">{{tag}}</a></li>
    {% endfor %}
  </ul>
</article>
