.header-nav ul {
  @include box-list($body-bg, $brand-primary);
  @include flex-horizontal-center();
  @media(min-width: $tablet-size) {
    @include flex-horizontal-left();
  }
  .is-active a, .is-active a:hover {
    cursor: default;
    background: $body-bg;
    color: $brand-primary;
  }
}

.header-subtitle {
  color: $gray-lightish;
}

.header-title {
  @include heading();
  font-size: $font-size-h1;

  a {
    @include constant-link($body-bg);
  }
}
