.header-nav {
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    &.is-active a, &.is-active a:hover {
      cursor: default;
      background: $body-bg;
      color: $brand-primary;
    }
  }
  a {
    @include constant-link($body-bg);
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $body-bg;
    margin-top: 2px;
    margin-bottom: 2px;
    &:hover {
      background: $brand-primary;
    }
  }
}

.header-subtitle {
  color: $gray-lightish;
}

.header-title {
  @include heading();
  font-size: $font-size-h1;

  a {
    @include constant-link($body-bg);
  }
}
