.blog-date {
  font-size: .75em;
  color: gray;
}

.blog-pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  overflow: auto;
  li {
    a {
      padding: 10px 15px;
    }
  }
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}

.blog-title {
  font-size: $font-size-h3;
  @include heading();
  @media(min-width: $tablet-size) {
    font-size: $font-size-h2;
  }
  small {
    font-size: $font-size-base;
  }
  a {
    color: $headings-color;
    &:hover {
      color: $headings-color;
    }
  }
}

.blog-content img {
  padding: 16px 0;
  display: block;
  margin: 0 auto;
}
