@mixin lead() {
  font-size: floor($font-size-base * 1.15);
  margin-bottom: $line-height-computed;
  font-weight: 300;
  line-height: 1.4;
  @media (min-width: $tablet-size) {
    font-size: $font-size-base * 1.5;
  }
}

%lead {
  @include lead();
}

%heading-shared {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: ($line-height-computed / 2);
}

%heading {
  @extend %heading-shared;
  margin-top: $line-height-computed;
}

%heading-small {
  @extend %heading-shared;
  margin-top: ($line-height-computed / 2);
}

@mixin constant-link($color) {
  text-decoration: none;
  color: $color;
  &:hover, &:focus, &:visited {
    text-decoration: none;
    color: $color;
  }
}
