<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Peter Debelak</title>
    <meta name="description" content="{{ page.description }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
      {% capture include_to_scssify %}
        {% include inline.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
    <script>
      if (document.location.hostname.match('peterdebelak.com')) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64190606-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </head>
  <body >
    <div class="wrapper">
      <header class="main-header">
        <div class="main">
          <h1><a id="home" href="/">Peter Debelak</a></h1>
          <nav class="header-nav">
            <ul>
              <li class="{% if page.active == "about" %}active{% endif %}"><a id="about" href="/about/">About</a></li>
              <li class="{% if page.active == "resume" %}active{% endif %}"><a id="resume" href="/resume/">Resume</a></li>
              <li class="{% if page.active == "blog" %}active{% endif %}"><a id="blog" href="/blog">Blog</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="main">
        {{ content }}
      </main>
      <div class="push"></div>
    </div>
    <footer class="main-footer">
      <div class="main">
        <span class="pull-left">Press <code>?</code> for help</span>
        <p class="pull-right">
          <a href="https://github.com/pdebelak">Peter on Github</a>
          |
          <a href="mailto:peter@peterdebelak.com">Contact Peter</a>
        </p>
      </div>
    </footer>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/shortcuts.min.js"></script>
    <script type="text/javascript">
      var disqus_shortname = 'peterdebelak';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>
