<!DOCTYPE html>
<html>
  <head>
    <title>Peter Debelak | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body >
    <div class="wrapper">
      <header class="container-fluid">
        <h1><a href="/">Peter Debelak</a></h1>
      </header>

      <div class="container" >
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    <footer class="container-fluid">
      <h4 class="text-right">
        <a href="mailto:pdebelak@gmail.com">Contact Peter</a>
      </h4>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
