---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="blog-title" itemprop="mainEntityOfPage"><span itemprop="headline">{{ page.title }}</span></h1>
    <p class="date-line">Last updated {{ page.date | date_to_long_string }}</p>
  </header>
  <link href="{{ page.url }}" itemprop="url">
  <time itemprop="dateModified" datetime="{{ page.date }}">
  <time itemprop="datePublished" datetime="{{ page.date }}">
  <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hide">
    <img src="https://www.gravatar.com/avatar/a1794745acd9e572c24558b78b48d597" itemprop="url">
    <meta itemprop="width" content="80">
    <meta itemprop="height" content="80">
  </div>
  <meta itemprop="author" itemtype="http://schema.org/Person" content="Peter Debelak">
  <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Peter Debelak">
    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hide">
      <img src="https://www.gravatar.com/avatar/a1794745acd9e572c24558b78b48d597" itemprop="url">
      <meta itemprop="width" content="80">
      <meta itemprop="height" content="80">
    </div>
  </div>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

<nav>
  <ul class="pager">
    {% if page.previous %}
      <li class="previous">
        <a id="next" href="{{ page.previous.url }}">&larr; Older post</a>
      </li>
    {% endif %}
    {% if page.next %}
      <li class="next">
        <a id="previous" href="{{ page.next.url }}">Newer post &rarr;</a>
      </li>
    {% endif %}
  </ul>
</nav>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript">
  var disqus_shortname = 'peterdebelak';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
